



.titles{
    
    padding-top:150px;
    font-family: 'Bebas Neue', sans-serif;
   
}

.nav{
    margin-top:10px;
}


.topcontainer{
    background-color:black;
   
}

.fs-4 {
    font-size: calc(2.275rem + .3vw)!important;
    color:white;
    font-family: 'Bebas Neue', sans-serif;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #f8f9fa;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #f8f9fa;
}

  
  .text-body-secondary {
    --bs-text-opacity: 1;
    color: #f8f9fa!important;
}

  
  .lowcontainer{
    background-color:black;
    height:11vh;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:30px;
    
    
}
 
  
  @media (max-width: 768px) {


    

      .titles{
    
        padding-top:10px;
        
    }

    .ftimg{
      width:90vw;
      height:40vh;
    }
    


  .lowcontainer{
    background-color:black;
    display:flex;
    height:10vh;
    width:100%;
    align-items:center;
    justify-content:center;
    margin-top:30px;
  
}

  
    }

  
 
  
  
  
  
  
  



  
 
  
  
  
  
  
  

