

.nav{
    margin-top:10px;
}
.topcontainer{
    background-color:black;
    
}

.fs-4 {
    font-size: calc(2.275rem + .3vw)!important;
    color:white;
    font-family: 'Bebas Neue', sans-serif;
}

.lowcontainer{
    background-color:black;
    height:11vh;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:30px;
    
    
}


.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #f8f9fa;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #f8f9fa;
}


#carouselExampleAutoplaying {
    max-width: 65vw; /* Set the maximum width of the carousel */
    margin: 0 auto; /* Center the carousel horizontally */
  }
  
  #carouselExampleAutoplaying .carousel-inner {
    text-align: center; /* Center the images within the carousel */
  }
  
  #carouselExampleAutoplaying img {
    height: 70vh; /* Set a fixed height for the images */
    margin: 0 auto; /* Center the images horizontally within the carousel item */
  }
  
  .text-body-secondary {
    --bs-text-opacity: 1;
    color: #f8f9fa!important;
}



  
  @media (max-width: 767px) {

    #carouselExampleAutoplaying {
        max-width: 65vw; /* Set the maximum width of the carousel */
        margin: 0 auto; /* Center the carousel horizontally */
      }
      
      #carouselExampleAutoplaying .carousel-inner {
        text-align: center; /* Center the images within the carousel */
      }
      
      #carouselExampleAutoplaying img {
        height: 40vh; /* Set a fixed height for the images */
        margin: 0 auto; /* Center the images horizontally within the carousel item */
      }

  
    }

  
 
  
  
  
  
  
  

